<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Prime Automation">
    <test name ="StatusCodeEquals200Test">
        <classes>
            <class name="tests.StatusCodeEquals200Test"/>
        </classes>
    </test>
    <test name ="StatusCodeEquals400Test">
        <classes>
            <class name="tests.StatusCodeEquals400Test"/>
        </classes>
    </test>
</suite>